<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_gongyouquan</string>
				<key>titleString</key>
				<string>工友圈</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_huoche</string>
				<key>titleString</key>
				<string>代买火车票</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
			<dict>
				<key>iconString</key>
				<string>icon_jifen</string>
				<key>titleString</key>
				<string>积分兑换</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>人品曝光</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
	</array>
</array>
</plist>
