<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>切换身份</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>修改手机号码</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>关于我们</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>检测版本</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
		<array>
			<dict>
				<key>iconString</key>
				<string>icon_renpin</string>
				<key>titleString</key>
				<string>清空缓存</string>
				<key>subTitleString</key>
				<string></string>
				<key>statusString</key>
				<string></string>
				<key>linkVC</key>
				<string></string>
				<key>isTitle</key>
				<true/>
				<key>isStatus</key>
				<true/>
			</dict>
		</array>
	</array>
</array>
</plist>
