<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>头像</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string></string>
			<key>propertyKey</key>
			<string>avatar</string>
			<key>editabled</key>
			<true/>
			<key>hidenLine</key>
			<true/>
			<key>enabled</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>姓名</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请填写姓名</string>
			<key>propertyKey</key>
			<string>name</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>性别</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请选择性别</string>
			<key>propertyKey</key>
			<string>sex</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>民族</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择民族</string>
			<key>propertyKey</key>
			<string>national</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>生日</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择生日</string>
			<key>propertyKey</key>
			<string>birthday</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>籍贯</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择籍贯</string>
			<key>propertyKey</key>
			<string>city</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>hidenLine</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>工种</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择工种</string>
			<key>propertyKey</key>
			<string>work</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>工龄</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择工龄</string>
			<key>propertyKey</key>
			<string>age</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>团队规模</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择团队规模</string>
			<key>propertyKey</key>
			<string>team</string>
			<key>editabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>hidenLine</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
