<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>工种:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择工种</string>
			<key>propertyKey</key>
			<string>work</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>unitTitle</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>人数:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请选择人数</string>
			<key>propertyKey</key>
			<string>num</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>unitTitle</key>
			<string>/人</string>
		</dict>
		<dict>
			<key>title</key>
			<string>工资:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请输入工资</string>
			<key>propertyKey</key>
			<string>money</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>unitTitle</key>
			<string>元/天</string>
		</dict>
		<dict>
			<key>title</key>
			<string>车费:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请输入车费</string>
			<key>propertyKey</key>
			<string>car</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
			<key>unitTitle</key>
			<string>元/辆/天</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>是否住工地:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string></string>
			<key>propertyKey</key>
			<string>live</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>开工时间:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请选择开工时间</string>
			<key>propertyKey</key>
			<string>beginTime</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>结束时间:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请选择结束时间</string>
			<key>propertyKey</key>
			<string>overTime</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>备注信息</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请填写备注内容</string>
			<key>propertyKey</key>
			<string>note</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>工程简介</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请填写工程简介</string>
			<key>propertyKey</key>
			<string>introduction</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>联系人:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请填写联系人姓名</string>
			<key>propertyKey</key>
			<string>name</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>联系电话:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请输入联系人电话</string>
			<key>propertyKey</key>
			<string>phone</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>工程地址:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请输入联系人地址</string>
			<key>propertyKey</key>
			<string>address</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>招工时续时间:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>8</integer>
			<key>placeholder</key>
			<string>请选择持续时间</string>
			<key>propertyKey</key>
			<string>duration</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>工资结算时间:</string>
			<key>subtitle</key>
			<string></string>
			<key>keyboardType</key>
			<integer>0</integer>
			<key>maxTextLength</key>
			<integer>0</integer>
			<key>placeholder</key>
			<string>请选择结算时间</string>
			<key>propertyKey</key>
			<string>time</string>
			<key>enabled</key>
			<true/>
			<key>required</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
