<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>建筑木工</string>
	<string>建筑钢筋工</string>
	<string>建筑内架子</string>
	<string>建筑外架子</string>
	<string>小工</string>
	<string>水电工</string>
	<string>泥工</string>
	<string>电焊工</string>
</array>
</plist>
